**/.cache/**
**/node_modules/**
**/public/**
**/static/**
**/graphql/graphql-types.ts

# We should add to this list while work is being done, and then remove everything
# below this comment once we are confident we can do a complete lint.
**/*.jsx
!**/src/components/*/**

!src/pages/blog.tsx

**/*.css.d.ts
