**/.cache/**
**/node_modules/**
**/public/**
**/static/**

# We should add to this list while work is being done, and then remove everything
# below this comment once we are confident we can do a complete lint.
**/*.jsx
!**/NewText/**
!**/Banner.jsx
!**/Container.jsx
!**/Logo.jsx

**/*.css.d.ts
