.button {
  --button--font-size: var(--font-size--base);
  --button--padding: var(--space--small) var(--space--large);
  --button--background: var(--color--carbon);
  --button--color: var(--color--blanco);
  --button--border-radius: 3px;
  appearance: none;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  transition: background 300ms;
  padding: var(--button--padding);
  background: var(--button--background);
  color: var(--button--color);
  border-radius: var(--button--border-radius);
  font-size: var(--button--font-size);
  line-height: 1.4;
  text-align: center;
}

.button:hover {
  --button--background: var(--color--stone);
}

.button:focus {
  box-shadow: 0 0 var(--space--xsmall) rgba(var(--color--carbon--rgb), 0.25);
}

/* Primary Button */
.primary {
  --button--background: var(--color--carbon);
}

.primary:hover {
  --button--background: var(--color--stone);
}

/* Inverted Button */
.inverted {
  --button--background: var(--color--blanco);
  --button--color: var(--color--carbon);
}

.inverted:hover {
  --button--background: var(--color--ghost);
}

.inverted:focus {
  box-shadow: 0 0 var(--space--xsmall) rgba(var(--color--ghost--rgb), 0.25);
}

/**
 * Kindful adds some inline styles. We want to remove
 * those if its a kindful button
 **/
.kindful {
  padding: var(--button--padding) !important;
  background: var(--button--background) !important;
  color: var(--button--color) !important;
  border-radius: var(--button--border-radius) !important;
  font-size: var(--button--font-size) !important;
}
