.text {
  font-family: var(--font-family--base);
  margin: var(--space--base) 0;
  white-space: pre-wrap;
}

.text:only-child {
  margin: 0;
}

.base {
  font-size: var(--font-size--base);
}

.small {
  font-size: var(--font-size--small);
}

.large {
  font-size: var(--font-size--large);
}
