.news {
  background: var(--color--ghost);
  padding: var(--space--large) 0;
}

.newsTitle {
  display: flex;
  flex-direction: column;
  gap: var(--space--large);
  margin-bottom: var(--space--large);
}

@media (min-width: 640px) {
  .newsTitle {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.newsLink {
  color: var(--color--carbon);
  display: flex;
  align-items: center;
  gap: var(--space--xxsmall);
  transition: gap 300ms;
}

.newsLink:hover {
  text-decoration: none;
  gap: var(--space--xsmall);
}

.date {
  display: flex;
  gap: var(--space--large);
  align-items: center;
}

.post {
  margin: var(--space--xxlarge) 0;
}

.image {
  margin: var(--space--large) auto;
}

.blockQuote {
  border-left: 3px solid var(--color--carbon);
  padding: var(--space--xsmall) 0 var(--space--xsmall) var(--space--base);
  background: var(--color--ghost);
}

.link {
  color: var(--color--carbon);
}

.link:hover {
  text-decoration: none;;
}
