.container {
  box-sizing: border-box;
  width: 100%;
  max-width: calc(var(--space--base) * 75);
  padding: 0 var(--space--base);
  margin: 0 auto;
}

@media (min-width: 640px) {
  .container {
    padding: 0 var(--space--large);
  }
} 

.small {
  max-width: calc(var(--space--base) * 45);
}

.flex {
  display: flex;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.alignItemsCenter {
  align-items: center;
}
