.container {
  width: 100%;
  max-width: calc(var(--space--base) * 75);
  padding: 0 var(--space--base);
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justifyFlexStart {
  justify-content: flex-start;
}

.justifySpaceBetween {
  justify-content: space-between;
}
