:root {
  --font-family--base: "Exo 2", sans-serif;
  --font-family--display: "Libre Caslon Text", serif;
}

:root {
  --font-size--xlarge: calc(var(--font-size--base) * 1.25);
  --font-size--large: calc(var(--font-size--base) * 1.125);
  --font-size--base: 18px;
  --font-size--small: calc(var(--font-size--base) * 0.875);
  --font-size--xsmall: calc(var(--font-size--base) * 0.75);
}
