:root {
  --space--base: 16px;
  --space--small: calc(var(--space--base) * 0.75);
  --space--xsmall: calc(var(--space--base) * 0.5);
  --space--xxsmall: calc(var(--space--base) * 0.25);
}

@media (min-width: 640px) {
  :root {
    --space--base: 20px;
  }
}
