@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&family=Roboto:wght@400;900&display=swap');
@import './colors.css';
@import './spacing.css';
@import './fonts.css';

html {
  box-sizing: border-box;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

::selection {
  background: var(--color--warning);
  color: var(--color--carbon);
}

::-moz-selection {
  background: var(--color--warning);
  color: var(--color--carbon);
}

.gatsby-image-wrapper {
  vertical-align: bottom;
}

body {
  background: var(--color--blanco);
  font-family: var(--font-family--base);
  color: var(--color--carbon);
  font-style: normal;
  font-size: var(--font-size--base);
  line-height: 1.6;
  margin: 0;
}
