.divider {
  border: none;
  height: 1px;
  background: var(--color--gravy);
}

.base {
  margin: var(--space--large) 0;
}

.small {
  margin: var(--space--base) 0;
}

.largest {
  margin: var(--space--xxlarge) 0;
}
