:root {
  --font-size--heading: calc(var(--space--base) * 2.5);
}

.heading {
  font-family: var(--font-family--display);
  font-weight: 700;
  font-size: var(--font-size--heading);
  line-height: 1.3;
  margin: 0;
}

.h1 {
  --font-size--heading: calc(var(--space--base) * 3);
}

.h2 {
  --font-size--heading: calc(var(--space--base) * 2.5);
}

.h3 {
  --font-size--heading: calc(var(--space--base) * 1.6);
}

.h4 {
  font-family: var(--font-family--base);
  --font-size--heading: calc(var(--space--base) * 1.3);
}

