.featured {
  background: var(--color--ghost);
  padding: var(--space--large) 0;
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    gap: var(--space--xxlarge);
  }
}

.content {
  flex: 1;
}

@media (min-width: 1024px) {
  .content {
    max-width: 50%;
  }
}

.caption {
  margin-bottom: var(--space--base);
}

.image {
  max-width: 80%;
  margin: var(--space--large) auto 0;
  flex: 1;
}

@media (min-width: 1024px) {
  .image {
    max-width: 50%;
    margin: 0;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: var(--space--xxsmall);
  color: var(--color--carbon);
  transition: gap 300ms;
}

.link:hover {
  text-decoration: none;
  gap: var(--space--xsmall);
}
