.person {
  appearance: none;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  transition: background 300ms;
  border-radius: 3px;
  padding: var(--space--base) var(--space--base);
}

.person:hover,
.person:focus {
  background: var(--color--ghost);
  cursor: pointer;
}

.text {
  margin-left: var(--space--small);
}

.name {
  font-size: var(--font-size--xlarge);
  font-family: var(--font-family--display);
  font-weight: 700;
  margin-bottom: var(--space--xxsmall);
}
