.footer {
  background: #386eda;
  height: 120px;
  padding: 30px;
  text-align: center;
  fill: var(--color--blanco);
  font-size: 13px;
}

@media (min-width: 1024px) {
  .footer {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav {
  margin-top: var(--space--large);
}

@media (min-width: 1200px) {
  .nav {
    margin-top: 0;
    text-align: right;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 1024px) {
  .list {
    display: flex;
  }
}

.item {
  margin: 0;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--color--blanco);
  font-size: var(--font-size--small);
  margin: var(--space--small) 0;
}

@media (min-width: 1024px) {
  .link {
    margin: 0 var(--space--base) 0 0;
    padding: 0 2px;
  }
}

@media (min-width: 1024px) {
  .link:hover {
    color: var(--color--ghost);
    box-shadow: 0 1px 0 0 var(--color--ghost);
  }
}

.highlight {
  font-weight: 900;
}

@media (min-width: 1024px) {
  .highlight {
    border-bottom: 1px solid var(--color--blanco);
  }
}

.social {
  margin-top: var(--space--large);
}

@media (min-width: 1024px) {
  .social {
    margin-top: var(--space--large);
  }
}

@media (min-width: 1200px) {
  .social {
    margin-top: var(--space--small);
  }
}

.social .list {
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .social .list {
    justify-content: flex-start;
  }
}

@media (min-width: 1200px) {
  .social .list {
    justify-content: flex-end;
  }
}

.social .link {
  margin: 0 var(--space--small);
}

@media (min-width: 1024px) {
  .social .link {
    margin: 0 var(--space--base) 0 0;
  }
}

.social .link:hover {
  box-shadow: none;
}

.copyright {
  color: #f3f5f7;
}

.footerButton {
  background: #386eda;
  border-radius: 10px;
  border: 1px solid #f3f5f7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
}

.footerButtonText {
  color: #f3f5f7;
  padding: 10px;
  text-decoration: none;
  margin: 0px;
}

.buttonLink {
  text-decoration: none;
}
