.footer {
  background: var(--color--carbon);
  padding: var(--space--xxlarge) 0;
  text-align: center;
  fill: var(--color--blanco);
}

@media (min-width: 640px) {
  .footer {
    text-align: left;
  }
}

.nav {
  margin-top: var(--space--large);
}

@media (min-width: 640px) {
  .nav {
    margin-top: 0;
    text-align: right;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 1024px) {
  .list {
    display: flex;
  }
}

.item {
  margin: 0;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--color--blanco);
  font-size: var(--font-size--small);
  margin: var(--space--small) 0;
}

@media (min-width: 1024px) {
  .link {
    margin: 0 0 0 var(--space--base);
    padding: 0 2px;
  }
}

@media (min-width: 1024px) {
  .link:hover {
    color: var(--color--ghost);
    box-shadow: 0 1px 0 0 var(--color--ghost);
  }
}

.highlight {
  font-weight: 900;
}

@media (min-width: 1024px) {
  .highlight {
    border-bottom: 1px solid var(--color--blanco);
  }
}

.social {
  margin-top: var(--space--large);
}

@media (min-width: 1024px) {
  .social {
    margin-top: var(--space--small);
  }
}

.social .list {
  display: flex;
  justify-content: center;
}

@media (min-width: 640px) {
  .social .list {
    justify-content: flex-end;
  }
}

.social .link {
  margin:  0 var(--space--small)
}

@media (min-width: 640px) {
  .social .link {
    margin: 0 0 0 var(--space--base)
  }
}

.social .link:hover {
  box-shadow: none;
}



