.wrapper {
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .wrapper {
    --block--content-list--gradient-rotation: 90deg;
    background: linear-gradient(
      var(--block--content-list--gradient-rotation),
      var(--color--blanco) 0%,
      var(--color--blanco) 50%,
      var(--color--ghost) 50%,
      var(--color--ghost) 100%
    );
    padding: var(--space--xlarge) 0 var(--space--xxlarge);
  }

  .wrapper.full {
    background: var(--color--ghost);
  }

  .wrapper.none {
    background: var(--color--blanco);
    padding: 0;
  }

  .wrapper.left {
    --block--content-list--gradient-rotation: -90deg;
  }
}

.wrapper * {
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    align-items: center;
  }
}

.content {
  padding: var(--space--large) 0;
}

@media (min-width: 1024px) {
  .content {
    flex: 1 0 50%;
    max-width: 50%;
    padding: 0 var(--space--large) 0 0;
  }
}

@media (min-width: 1200px) {
  .content {
    padding: 0 var(--space--xxlarge) 0 0;
  }
}

.button {
  margin-top: var(--space--large);
}

.listWrapper {
  position: relative;
  background: var(--color--ghost);
  margin-left: calc(var(--space--base) * -1);
  width: calc(100% + var(--space--base) * 2);
  padding: var(--space--large) var(--space--base);
}

@media (min-width: 640px) {
  .listWrapper {
    margin-left: calc(var(--space--large) * -1);
    width: calc(100% + var(--space--large) * 2);
    padding: var(--space--xlarge) var(--space--large);
  }
}

@media (min-width: 1024px) {
  .listWrapper {
    background: none;
    width: 100%;
    margin-left: 0;
    flex: 1 0 50%;
    max-width: 50%;
    padding: 0 0 0 var(--space--large);
  }
}

@media (min-width: 1200px) {
  .listWrapper {
    padding: 0 0 0 var(--space--xxlarge);
  }
}

.listWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: var(--space--small) solid transparent;
  border-right: var(--space--small) solid transparent;
  border-top: var(--space--base) solid var(--color--blanco);
}

@media (min-width: 1024px) {
  .listWrapper::before {
    display: none;
  }
}

.listTitle {
  margin-bottom: var(--space--base);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  border-left: var(--space--xxsmall) solid var(--color--carbon);
  border-radius: 2px;
  padding: var(--space--xxsmall) 0 var(--space--xxsmall) var(--space--base);
  margin: var(--space--base) 0;
}

.item:first-of-type {
  margin-top: 0;
}

.item:last-of-type {
  margin-bottom: 0;
}

.description {
  margin-top: var(--space--base);
}
