.blocks > * {
  margin-top: var(--space--xxxlarge);
}

.blocks > *:first-of-type {
  margin-top: 0;
}

.blocks > *:last-of-type:not(.noSpace) {
  margin-bottom: var(--space--xxxlarge);
}

.blocks > .noSpaceAtAll {
  margin: 0;
}

.blocks > .noSpace + *,
.blocks > .noSpaceAtAll + .noSpace {
  margin-top: 0;
}

.spacer {
  margin: var(--space--base) 0;
}

.spacer:first-of-type {
  margin-top: 0
}

.spacer:last-of-type {
  margin-bottom: 0;
}

.unknown {
  background: rgba(var(--color--warning--rgb), 0.25);
  border: 1px solid var(--color--warning);
  padding: var(--space--large) var(--space--base);
  border-radius: 2px;
  text-align: center;
}

.code {
  max-width: 100%;
  overflow-x: scroll;
  font-family: monospace;
  font-size: var(--font-size--small);
  text-align: left;
}
