.fullwidth {
  padding: var(--space--xlarge) 0;
  background: var(--color--ghost);
}

.encapsulated .container {
  border: 1px solid var(--color--carbon);
  border-radius: 3px;
  padding: var(--space--large);
}

.button {
  margin-top: var(--space--large);
}

.encapsulated .button {
  text-align: center;
}
