.buttons {
  display: flex;
  justify-content: flex-end;
  gap: var(--space--small);
  margin-top: var(--space--base);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: none;
  border-radius: 3px;
  padding: 0;
  width: var(--space--large);
  height: var(--space--large);
  cursor: pointer;
  background: none;
  transition: background 300ms;
}

.button:hover {
  background: var(--color--ghost);
}

.button * {
  vertical-align: bottom;
}

:global .swiper-slide {
  height: auto !important;
  box-sizing: border-box;
}

:global .swiper-slide > *{
  box-sizing: border-box;
}
